<%= stylesheet_link_tag "edit_room"%>
<script>
function kaydır() {
    window.scrollTo(0,document.body.scrollHeight);
}

<% if flash[:error] %>
    alert("<%= flash[:error] %>");
<%end%>

function onlyOneCheckBox(limit) {
    var limit = limit;
    var checkboxgroup = document.getElementById('checkboxgroup').getElementsByTagName("input");
    for (var i = 0; i < checkboxgroup.length; i++) {
        checkboxgroup[i].onclick = function() {
            var checkedcount = 0;
            for (var i = 0; i < checkboxgroup.length; i++) {
                checkedcount += (checkboxgroup[i].checked) ? 1 : 0;
            }
            if (checkedcount > limit) {
                console.log("You can select maximum of " + limit + " checkbox.");
                this.checked = false;
            }
        }
    }
}

</script>
<section class="vh-120">
  <div class="container py-4 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5" style="text-align:center;">Odayı sonlandır</h3>
            <%= form_for @room do |form|%>
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <h3 class="text-center">Kazanan kullanıcıları seç</h3>
                        <div class="p-2 mt-3 deneme">
                            <div id="checkboxgroup" class="form-check">
                                <% @room.users.each do |user|%>
                                    <%= check_box_tag("winners[]", value = user.username, checked = false,class:"form-check-input")%>
                                    <%= form.label user.username,class:"form-check-label"%><br/>
                                <%end%>
                            </div>
                        </div>
                        <script>
                            onlyOneCheckBox(<%= @max_users%>);
                        </script>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <div class="form-outline">
                            <%= form.label "Oda videosu",class:"form-label"%>
                            <%= form.file_field :video,class:"form-control form-control-lg",required:""%>
                        </div>
                    </div>
                </div>
                <div class="mt-1 pt-4 submit_button" style="text-align: center;">
                    <%= form.submit "Odayı sonlandır",data:{confirm:"Emin misiniz ?\nBu işlem geri alınamaz!"},class:"btn btn-danger btn-lg"%>
                </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if flash[:error].class == Array%>
    <div class="error-messages bg-danger">
      <ul>
        <% flash[:error].each do |error|%>
          <li><%= error%></li>
        <%end%>
      </ul>
    </div>
  <%end%>
</section>
<%= scroll_method if flash[:error]%>
