<%# provide :title,"Deneme"%>
<script>
  function kaydır() {
    window.scrollTo(0,document.body.scrollHeight);
  }
</script>
<section class="vh-120">
  <div class="container py-4 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5" style="text-align:center;">Oda aç</h3>
            <%= form_for(@room,class:"needs-validation") do |form|%>
              	<div class="row">
                	<div class="col-md-6 mb-4">
                  		<div class="form-outline">
                    		<%= form.text_field :title,id:"firstName",class:"form-control form-control-lg",required:"",placeholder:"Oda ismi"%>
                    	<div class="invalid-feedback">
                      		Burasının doldurulması gerekiyor
                    	</div>
                  	</div>
                	</div>
            	</div>
              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">

                  <div class="form-outline datepicker w-100">
                  	<%= form.number_field :room_id,class:"form-control form-control-lg",required:"",placeholder:"Oda numarası"%>
                  </div>

                </div>
                <div class="col-md-6 mb-4 d-flex align-items-center">

                  <div class="form-outline">
                    <%= form.password_field :password,class:"form-control form-control-lg",placeholder:"Oda şifresi",required:""%>
                  </div>
              	</div>
              </div>
              <div class="row">
                <div class="col-12 mt-4 d-flex align-items-center">
                	<%= form.text_area :rules,class:"form-control form-control-lg",placeholder:"Kurallar",style:"max-height:130px;"%>
                	<%# form.labe%>
                </div>
              </div>
              <div class="mt-1 pt-4 submit_button" style="text-align: center;">
                <!--input class="btn btn-primary btn-lg" type="submit" value="Submit" -->
                <%= form.submit "Odayı sonlandır",class:"btn btn-danger btn-lg"%>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if flash[:error].class == Array%>
    <div class="error-messages bg-danger">
      <ul>
        <% flash[:error].each do |error|%>
          <li><%= error%></li>
        <%end%>
      </ul>
    </div>
  <%end%>
</section>
<%= scroll_method if flash[:error]%>