<% content_for :title do%>
  Oda aç
<%end%>
<script>
  function kaydır() {
    window.scrollTo(0,document.body.scrollHeight);
  }
</script>
<section class="vh-120">
  <div class="container py-4 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-2 pb-md-0 mb-md-5" style="text-align:center;">Oda aç</h3>
            <%= form_for(@room,class:"needs-validation") do |form|%>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <%= form.text_field :title,id:"firstName",class:"form-control form-control-lg",required:"",placeholder:"Oda ismi"%>
                    <div class="invalid-feedback">
                      Burasının doldurulması gerekiyor
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-5" style="border:1px solid #e5e5e5;border-radius:5px;">

                  <h6 class="mb-2 pb-1">Oda tipi:</h6>

                  <div class="form-check form-check-inline">
                    <%= form.radio_button :tip,"takımlı",class:"form-check-input"%>
                    <%= form.label "Takımlı"%>
                  </div>

                  <div class="form-check form-check-inline">
                    <%= form.radio_button :tip,"eşli",class:"form-check-input"%>
                    <%= form.label "Eşli"%>
                  </div>
                  <div class="form-check form-check-inline">
                    <%= form.radio_button :tip,"tekli",class:"form-check-input"%>
                    <%= form.label "Tekli"%>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-5 mw-50" style="border:1px solid #e5e5e5;border-radius:5px;">

                  <h6 class="mb-2 pb-1">Harita:</h6>

                  <div class="form-check form-check-inline">
                    <%= form.radio_button :map,"Erangel",class:"form-check-input"%>
                    <%= form.label "Erangel"%>
                  </div>
                  <div class="form-check form-check-inline">
                    <%= form.radio_button :map,"Miramar",class:"form-check-input"%>
                    <%= form.label "Miramar"%>
                  </div>

                  <div class="form-check form-check-inline">
                    <%= form.radio_button :map,"Sanhok",class:"form-check-input"%>
                    <%= form.label "Sanhok"%>
                  </div>
                  <div class="form-check form-check-inline">
                    <%= form.radio_button :map,"Vikendi",class:"form-check-input"%>
                    <%= form.label "Vikendi"%>
                  </div>

                </div>
                <div class="col-md-6 mb-5 mw-50" style="border:1px solid #e5e5e5;border-radius:5px;">

                  <h6 class="mb-2 pb-1">Bakış açısı:</h6>

                  <div class="form-check form-check-inline">
                    <%= form.radio_button :mod,"TPP",class:"form-check-input"%>
                    <%= form.label "TPP"%>
                  </div>

                  <div class="form-check form-check-inline">
                    <%= form.radio_button :mod,"FPP",class:"form-check-input"%>
                    <%= form.label "FPP"%>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">

                  <div class="form-outline datepicker w-100">
                  	<%= form.number_field :room_id,class:"form-control form-control-lg",required:"",placeholder:"Oda numarası"%>
                  </div>

                </div>
                <div class="col-md-6 mb-4 d-flex align-items-center">

                  <div class="form-outline">
                    <%= form.password_field :password,class:"form-control form-control-lg",placeholder:"Oda şifresi",required:""%>
                  </div>
              	</div>
              </div>
              <div class="row">
                <div class="col-12 mt-4 d-flex align-items-center">
                	<%= form.text_area :rules,class:"form-control form-control-lg",placeholder:"Kurallar",style:"max-height:130px;"%>
                </div>
              </div>
              <div class="mt-1 pt-3 submit_button" style="text-align: center;">
                <!--input class="btn btn-primary btn-lg" type="submit" value="Submit" -->
                <%= form.submit "Oda aç",class:"btn btn-primary btn-lg"%>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if flash[:error].class == Array%>
    <div class="error-messages bg-danger">
      <ul>
        <% flash[:error].each do |error|%>
          <li><%= error%></li>
        <%end%>
      </ul>
    </div>
  <%end%>
</section>
<%= scroll_method if flash[:error]%>