<%= stylesheet_link_tag "show_password"%>
<%= stylesheet_link_tag "login_user"%>
<%= stylesheet_link_tag "new_user"%>

<script>
      function redirect () {
         setTimeout(myURL, 5000);
      }

      function myURL() {
         document.location.href = '<%= room_path(@data.id)%>';
    }
    redirect();
</script>

<section class="vh-120 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 yazı">Oda bilgileri</h3>
            <div class="row">
            	<div class="col-md-12 mb-2">
            		<h1 class="room-id">Oda numarası : <span><%= @data.room_id%></span></h1>
            	</div>
            </div>
            <div class="row">
            	<div class="col-md-12">
            		<h1 class="room-password">Oda şifresi : <span><%= @data.password%></span></h1>
            	</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if flash[:error]%>
    <div class="error-messages bg-danger">
      <ul>
        <% flash.each do |type,error|%>
          <li><%= error%></li>
        <%end%>
      </ul>
    </div>
  <%end%>
</section>
