<%= stylesheet_link_tag "top_bar"%>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid top-bar-itele">
    <a class="navbar-brand ms-0 ms-md-5" href="/">Room To Uc</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      	<% if signed_in?%>
        	<li class="nav-item">
          		<%= link_to "Çıkış yap",logout_path,method: :delete,class:"nav-link active text-danger",data:{confirm:"Emin misiniz ? Tekrar giriş yapmanız gerekecek"}%>
        	</li>
          <li class="nav-item">
            <%= link_to("Oda aç",new_room_path,class:"nav-link active") if current_user.role == "janitor"%>
          </li>
        <%else%>
        	<li class="nav-item">
          		<%= link_to "Giriş yap",login_path,class:"nav-link active"%>
        	</li>
        	<li class="nav-item">
        		<%= link_to "Kaydol",register_path,class:"nav-link active"%>
        	</li>
        <%end%>
      </ul>
      <% if signed_in?%>
      	<!--a class="navbar-brand" href="#">
      		<%# image_tag "https://www.gravatar.com/avatar/akdlakdasdansda4c1naodasosn?s=35",style:"border-radius:50%;",alt:"profile-photo"%>
      	</a-->
        <%= link_to(image_tag("https://www.gravatar.com/avatar/akdlakdasdansda4c1naodasosn?s=35",style:"border-radius:50%;",alt:"profile-photo"),profile_path(current_user),class:"navbar-brand")%>
      <%end%>
    </div>
  </div>
</nav>