<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= content_for?(:title) ? yield(:title) : "Room To Uc"%>
    </title>
    <link rel="icon" type="image/png" href="https://thefunexplode.com/wp-content/uploads/2020/02/pubg-unlimited-uc.png" alt="Room to Uc icon">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background:#e6e6e6;">
    <%= render "layouts/top_bar"%>
    <div class="container-fluid p-0 overflow-hidden">
      <%= content_for?(:content) ? yield(:content) : yield%>
    </div>
  </body>
</html>
